<div class="screen">
  <div class="result">
    <div class="result-score--game">
      <span>Score : </span><span>{{ logicService.score }}</span>
    </div>
    <div class="result-score--best">
      <span>Best : </span><span>{{ logicService.bestScore }}</span>
    </div>

    <div class="reset">
      <button (click)="logicService.resetGame()" (touchstart)="logicService.resetGame()" class="reset-btn">
        <span>New Game</span>
      </button>
    </div>
  </div>
  <app-grid></app-grid>

</div>
